@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    scroll-behavior: smooth;
}

html, body, #home, #exp, #sobre-mim, #projetos {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    background: url('../image/fundo.png') no-repeat top right;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */
.navbar-toggler {
    border: none;
}

.nav-link {
    color: #25282B;
}
/* Header */

/* Home */
#home {
    padding-top: 5.62rem;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 1.5em;
}

.subtitulo {
    color: #FF5876;
}

.btn-custom {
    color: #fff;
    background: #FF6464;
    text-transform: uppercase;
    padding: 10px 40px;
}

.btn-custom:hover {
    border: 2px solid #000;
}
/* Home */

/* Sobre Mim */


#sobre-mim .texto {
    margin: 1rem 1rem 0 0;
    text-align: justify;
}

#sobre-mim .texto p {
    margin: 0 0 0.5rem 0;
}

#sobre-mim .texto span {
    color: #aaaa42;
}

#sobre-mim .playlist{
    padding-top: 4rem;
}
/* Sobre Mim */

/* Projetos */
#projetos .container {
    height: 500px;
    display: grid;
}

#projetos .container .row:first-child {
    display: flex;
    align-items: center;
    text-align: center;
}

#projetos .container .row:last-child {
    row-gap: 1rem;
}

#projetos .container .row .projeto {
    transition: transform 0.8s ease;
}

.projeto:hover {
    transform: translateY(-15px);
}

.card-img-overlay {
    background-color: rgba(82.5, 82.5, 82.5, 0.1);
    backdrop-filter: blur(2px);
}
/* Projetos */
