@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --background: #FFDD55;
    --header-bg: #000000;

    --text-color-primary: #ffffff;
    --text-color-secundary: #000000;
    --text-color-tertiary: #18191F;
    --text-color-quartiary: #474A57;

    --font-main: "Montserrat", sans-serif;
}

/* Início estilização Header */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 113px;
    background-color: var(--header-bg);
    color: var(--text-color-primary);
    font-size: 3em;
    box-sizing: border-box;
    padding: 20px 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 919px;
}

#logo {
    display: inline;
    margin-left: 61px;
    background: var(--background);
    border-radius: 30px;
    border: 2px solid #000000;
    box-shadow: 5px 4px #ffffff;
}

.icon {
    padding: 12px 13px;
    font-weight: 900;
    color: var(--text-color-secundary);
}

#cabecalho #navegacao {
    float: right;
    font-size: 0.5em;
    width: 674px;
    /* margin-top: 20px;
    margin-right: 75px; */
}

#navegacao {
    display: flex;
    width: 674px;
}

#navegacao li {
    cursor: pointer;
}

#navegacao li a {
    line-height: 2.5em;
    padding: 0 1em;
    color: var(--text-color-primary);
    font-weight: 600;
}

#navegacao a:hover {
    color: #FFDD55;
}

/* Fim estilização Header */

/* Início estilização Seção Inicial */

    /* Tipografia da Seção */
    #home h1 {
        /* font-weight: 900; */
        /* font-size: 4em; */
        color: #18191F;
    }
    
    #home p {
        /* font-weight: 700; */
        /* font-size: 1.56em; */
        color: #474A57;
    }
    /* Tipografia da Seção */

#home {
    /* box-sizing: border-box; */
    height: 100%;
    border: 1px solid blue;
}

a.botoes-home {
    font-size: 2em;
    color: var(--text-color-primary);
    background: #000000;
    box-shadow: 5px 5px #00C6AE;
    margin-right: 20px;
}

.btn:hover {
    position: relative;
    bottom: 5px;
    background-color: none;
}

.foto-perfil {
    border: 2px solid #000000;
    box-shadow: 5px 5px #000000;
    border-radius: 10px;
}

/* Fim estilização Seção Inicial */