@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #FFDD55;
    --header-bg: #000000;

    --text-color-primary: #ffffff;
    --text-color-secundary: #000000;
    --text-color-tertiary: #18191F;
    --text-color-quartiary: #474A57;

    --font-main: "Montserrat", sans-serif;
}

body {
    font-family: var(--font-main) !important; 
    background-color: var(--background);
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Início estilização Header */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 113px;
    background-color: var(--header-bg);
    color: var(--text-color-primary);
    font-size: 3em;
    box-sizing: border-box;
    padding: 20px 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 919px;
}

#logo {
    display: inline;
    margin-left: 61px;
    background: var(--background);
    border-radius: 30px;
    border: 2px solid #000000;
    box-shadow: 5px 4px #ffffff;
}

.icon {
    padding: 12px 13px;
    font-weight: 900;
    color: var(--text-color-secundary);
}

#cabecalho #navegacao {
    float: right;
    font-size: 0.5em;
    width: 674px;
    /* margin-top: 20px;
    margin-right: 75px; */
}

#navegacao {
    display: flex;
    width: 674px;
}

#navegacao li {
    cursor: pointer;
}

#navegacao li a {
    line-height: 2.5em;
    padding: 0 1em;
    color: var(--text-color-primary);
    font-weight: 600;
}

#navegacao li a:hover {
    color: #FFDD55;
}

/* Fim estilização Header */

/* Início estilização Seção Inicial */
#secao-inicial #titulo h1 {
    margin-bottom: 0;
    font-size: 4em;
    color: var(--text-color-tertiary);
}

#secao-inicial #titulo p {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 1.5em;
    color: var(--text-color-quartiary);
}

#secao-inicial #titulo a,
#secao-sobre-mim #informacoes a
{
    position: relative;
    font-size: 2em;
    color: var(--text-color-primary);
    background: #000000;
    border-radius: 15px;
    padding: 12px 31px;
    box-shadow: 5px 5px #00C6AE;
}

#secao-inicial #titulo a {
    margin: 5px 18px 0px 0px;
}
/* Fim estilização Seção Inicial */